.nav {
    position: fixed;
    bottom:0;
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    
    align-items: flex-end;

    .nav__wrapper {
        
    width: 100%;
        .nav__item_1 {
            width: 100%;
            bottom: 0px;
            height: 77.5px;
            transition: all 0.3s ease 0s;
            .svg1 {
                width: 100%;
                left: 0;
                transform: translateY(4px);
            }
            .svg1.active {
                bottom: 158.5px;
            } 

            .svg2 {
                height: 163.5px;
            }
            .svg2.active {
            }
            .rect2 {
                height: 158.5px;
              }
            .rect2.active {
                height: 158.5px;
            } 
        } 
        .nav__item_1.active {
            height: 235px;
            transition: all 0.3s ease 0s;
        }
        
        .nav__item_2 {
            display: flex;
            align-items:center;
            justify-content: space-around;
            width: 100%;
                height: 0;
            .nav__button {
                position: relative;
                bottom: 41px;
                border: 0;
                padding: 0;
                width: 30px;
                height: 15px;
                background-color: rgba(255, 255, 255, 0);
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='15' viewBox='0 0 30 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='30' height='3' rx='1.5' fill='%23EA916B'/%3e%3crect y='6' width='30' height='3' rx='1.5' fill='%23EA916B'/%3e%3crect y='12' width='30' height='3' rx='1.5' fill='%23EA916B'/%3e%3c/svg%3e ");
                background-position: 50% 50%;
                transition: all 0.3s ease 0s;
            }

            .nav__button.active {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='20' viewBox='0 0 30 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='30' height='3' rx='1.5' fill='%23E57546'/%3e%3crect y='6' width='30' height='3' rx='1.5' fill='%23E57546'/%3e%3cpath d='M0 13.9528C0 12.9921 0.941183 12.3137 1.85258 12.6175L13.4189 16.473C14.4452 16.8151 15.5548 16.8151 16.5811 16.473L28.1474 12.6175C29.0588 12.3137 30 12.9921 30 13.9528C30 14.5743 29.5923 15.1223 28.997 15.3009L16.4367 19.069C15.4995 19.3501 14.5005 19.3501 13.5633 19.069L1.00305 15.3009C0.407705 15.1223 0 14.5743 0 13.9528Z' fill='%23E57546'/%3e%3c/svg%3e ");
                background-position: 50% 50%;
                height: 20px;
                bottom: 195px;
                transition: all 0.3s ease 0s;
            }
        }

        .nav__item_3 {
            z-index: 3;
            height: 158px;
            width: 100%;
            position: absolute;
            bottom: -158px;
            transition: all 0.3s ease 0s;
            color: rgb(25, 170, 177);
            .item_3__wrapper {
                padding-top: 9px;
                .social_network {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                }
            }
        }
        
        .nav__item_3.active {
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        
        .nav__item_3 p::before {
            width: 100%;
            text-align: center;
            display: block;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #8A3976;
            content: '<!-- You can contact me through: -->';
        }
        
    }
}
